.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #222;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust spacing */
}

.logo {
  width: 50px; /* Adjust size */
  height: auto;
}
